#Question12 {
  display: none;
  justify-content: center;
}
#Question123 {
  display: none;
  justify-content: center;
}
#Question1234 {
  display: none;
  justify-content: center;
}
#Question12345 {
  display: none;
  justify-content: center;
}
#Question123456 {
  display: none;
  justify-content: center;
}
.badge-primary {
  font-size: 25px;
}
.badge-success {
  font-size: 25px;
}
