h3{
  font-style: italic;
}
#menu ul{
list-style-type: circle;
}
#menu a:hover{
  background-color: red;
}
#About-Me p{
  font-family: sans-serif;
  font-size: 20px;
}
#Education ul{
  list-style-type: square;
  font-size: 20px;
  font-family: sans-serif;
}
#Work-Experience table, td, th{
  border: 1px solid black;
}
#Work-Experience table{
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
}
#work-Experience th{
  text-align: left;
}
#Programming-Skills p{
  font-family: sans-serif;
  font-size: 20px;
}
#General-Interests ul{
  list-style-type: square;
  font-size: 20px;
  font-family: sans-serif;
}
#General-Interests li{
  	border-bottom:dotted 3px #333;
    margin-right: 55%;
}
#Favorite-Websites ul{
  list-style-type: square;
  font-size: 20px;
  font-family: sans-serif;
}
#Favorite-Websites a:hover{
  color: hotpink;
}
#Favorite-Music-Video iframe{
  width: 75%;
  height: 30%;
}
#Second-Image img{
  border-style: inset;
  border-radius: 2px;
}
.my-form input[type="text"]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}
